{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        form {
            font-size: 14px;
            margin: 0 auto;
            width: 400px;
        }
        form label {
            color: #C9C9C9;
        }
        form button,
        form input,
        form label,
        form textarea {
            float: left;
            clear: both;
        }
        form button,
        form input,
        form textarea {
            border: 2px solid #C9C9C9;
            border-radius: 3px;
            box-sizing: border-box;
            display: inline-block;
            font-family: inherit;
            font-size: inherit;
            margin: 10px 0;
            outline: none;
            padding: 10px 5px;
            transition: 0.2s ease all;
            width: 100%;
        }
        form input[type="text"]:focus {
            border-color: #6495ED;
        }
        form button[type="submit"] {
            background-color: #6495ED;
            border: none;
            padding: 15px 50px;
            transition: 0.2s ease all;
            width: auto;
            float: right;
            clear: right;
        }
        .item-image-preview-container {
            position: relative;
            width: 100%;
        }
        .item-image-preview-container > img {
            position: absolute;
            right: 0;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="news">
        <header class="news__header">
            <a class="news__header_homepage-link" href="{{ path('get_all_news') }}">Back to list</a>
        </header>
        <section>
            <form id="news_form">
                <label for="news_title">Title:</label>
                <input id="news_title" name="news[title]" type="text" value="{{ item ? item.title : '' }}" tabindex="1" required autofocus>

                <label for="news_thumbnail" class="item-image-preview-container">
                    Thumbnail image (130x100):
                    {% if (item) %}
                        <img src="{{ item.thumbnail }}" alt="{{ item.title }}" width="40">
                    {% endif %}
                </label>
                <input id="news_thumbnail" name="news[thumbnail]" type="file" class="upload-form-element" tabindex="2">

                <label for="news_image" class="item-image-preview-container">
                    Main image (800xN):
                    {% if (item) %}
                        <img src="{{ item.image }}" alt="{{ item.title }}" width="40">
                    {% endif %}
                </label>
                <input id="news_image" name="news[image]" type="file" class="upload-form-element" tabindex="3">

                <label for="news_url">URL:</label>
                <input id="news_url" name="news[url]" type="text" value="{{ item ? item.url : '' }}" tabindex="4" required>

                <label for="news_text">Text:</label>
                <textarea id="news_text" name="news[text]" tabindex="5" required>{{ item ? item.text : '' }}</textarea>

                <button type="submit" tabindex="6" class="button-component">{{ item ? 'edit' : 'create' }}</button>
            </form>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function(){
            Array.from(document.getElementsByClassName('upload-form-element')).forEach(function(element){
                element.addEventListener('change', function(){
                    let previewImage = document.querySelector('label[for="' + this.id + '"] > img');

                    if (previewImage) {
                        previewImage.remove();
                    }
                });
            });

            document.getElementById('news_form').addEventListener('submit', function(event){
                event.preventDefault();

                fetch('/news{{ item ? '/' ~ item.id : '' }}', {
                    body: new FormData(event.target),
                    cache: 'no-store',
                    method: 'POST'
                }).then(function(response){
                    if (response.status !== 200) {
                        alert(response.statusText);
                        return;
                    }

                    location.href = '{{ item ? path('get_news_by_id', {'id': item.id}) : path('get_all_news') }}';
                }).catch(function(error){
                    alert(error);
                });
            });
        });
    </script>
{% endblock %}
