{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .news__header_create-link {
            position: absolute;
            right: 0;
        }
        .news__list-item {
            display: grid;
            grid-template-columns: 130px auto 70px;
            grid-template-rows: 30px 70px;
            padding-bottom: 1.2em;
        }
        .news__list-item_thumbnail {
            grid-row-start: 1;
            grid-row-end: span 2;
        }
        .news__list-item_date-created {
            color: #C9C9C9;
            font-size: 14px;
            grid-row-start: 1;
        }
        .news__list-item_title {
            font-size: 28px;
            grid-row-start: 2;
        }
        .news__list-item_buttons-pane {
            grid-row-start: 1;
            grid-row-end: span 2;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="news">
        <header class="news__header">
            <span class="news__header_title">News list</span>
            <a class="news__header_create-link" href="{{ path('news_form_create') }}">Create new</a>
        </header>
        {% for item in items %}
            <section class="news__list-item">
                <picture class="news__list-item_thumbnail">
                    <img src="{{ item.thumbnail | asset }}" alt="{{ item.title }}">
                </picture>
                <span class="news__list-item_date-created">{{ item.created | date('Y-m-d H:i:s') }}</span>
                <span class="news__list-item_title"><a href="/news/{{ item.id }}">{{ item.title }}</a></span>
                <span class="news__list-item_buttons-pane">
                    <button class="news__list-item_delete-button button-component" data-id="{{ item.id }}">delete item</button>
                </span>
            </section>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function(){
            Array.from(document.getElementsByClassName('news__list-item_delete-button')).forEach(function(button){
                button.addEventListener('click', function(event){
                    let clickedItemId = event.target.getAttribute('data-id');

                    if (confirm('You are about to delete the news with ID = ' + clickedItemId)) {
                        fetch('/api/news/' + clickedItemId, {
                            cache: 'no-store',
                            method: 'DELETE'
                        }).then(function(response){
                            if (response.status !== 204) {
                                alert(response.statusText);
                                return;
                            }

                            location.reload();
                        }).catch(function(error){
                            alert(error);
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}
