{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        .news__header_edit-link {
            position: absolute;
            right: 0;
        }
        .news__item_date-created {
            color: #C9C9C9;
            font-size: 14px;
        }
        .news__item_title {
            font-size: 28px;
        }
        .news__item_image > img {
            padding: 20px 0;
        }
        .news__item_url {
            padding: 20px 0;
        }
        .news__item_url > a {
            color: #5eb5e0;
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="news">
        <header class="news__header">
            <a class="news__header_homepage-link" href="{{ path('get_all_news') }}">Back to list</a>
            <a class="news__header_edit-link" href="{{ path('news_form_edit', {'id': item.id}) }}">Edit item</a>
        </header>
        <section class="news__item">
            <div class="news__item_date-created">{{ item.created | date('Y-m-d H:i:s') }}</div>
            <div class="news__item_title">{{ item.title }}</div>
            <picture class="news__item_image">
                <img src="{{ item.image | asset }}" alt="{{ item.title }}">
            </picture>
            <div class="news__item_url">From: <a target="_blank" href="{{ item.url }}">{{ item.url }}</a></div>
            <div class="news__item_text">{{ item.text | nl2br }}</div>
        </section>
    </div>
{% endblock %}
